<div class="col-xs-12">
<!-- <div class="col-xs-12" ng-show="!showListView">
 -->  
  <h1>new pin</h1>
  <form>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" placeholder="Title" ng-model="newPin.title" />            
    </div>
    <div class="form-group">
      <label>Category</label>
      <input type="text" class="form-control" placeholder="Category" ng-model="newPin.comments" />            
    </div>
    <div class="form-group">
      <label>Picture</label>
      <input type="text" class="form-control" placeholder="photo URL" ng-model="newPin.comments" />            
    </div>
    
    <button class="btn brn-default" href="#/pins" ng-click="addNewPin()">Submit</button>
  </form>
</div>  <!-- end class="col-xs-12" ng-show="!showListView" -->
​