<div class="row">
  <div class="col-xs-10 col-xs-offset-1 main-container">
      <div ng-repeat="thingy in pins | filter: searchText">
        <div class="panel panel-default" >
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <a href="#/pins/">{{thingy.comments}}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p>Title:</p>
                <p>{{thingy.title}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p>URL:</p>
                <p>{{thingy.url}}</p>
              </div>
            </div>
            <div class="col-xs-1"><button class="btn btn-danger" ng-click="Remove(thingy.pinsid)">X</button> </div>
          </div>
        </div>
      </div>
      <div><a href="#/newPins">create new pin</a>
    </div>
  </div>
</div>
